h1{
  color:cornflowerblue;
  font-size: 50px;
  text-align:center;
  text-decoration: underline;
}


div{
  background-color: aqua;
  border: 1px solid black;
  /* padding: 20px; */
}


.container{
  padding: 0px;
  height: 200px;
  /* width: 100px; */
}

/* descendant selector */
.container h2{
  text-align: center;
}

/* direct children selector */
.container > h2{
  color: purple;
}

#footer{
  /* border-radius: 50%; */
  /* margin: 20px; */
  /* margin: 200px 5px; */
  margin: 10px 30px 90px 0px;
  padding: 40px;

}

h2{
  border: 1px solid black;
  flex: 1;
  /* margin-right: 10px; */
}

h3{
  border: 1px solid black;
  flex: 2;
  /* margin-right: 10px; */
}

#dat{
  /* margin-right: 0px; */
}

#last{
  display:flex;
  gap: 10px;
}

